.Form {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.Form p {
    margin: 0;
    font-size: large;
}

.Form input {
    margin-bottom: 1em;
    padding: 5px;
    font-size: large;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    color: #282c34;
}

/* .Form input[type=number] {
    width: 80%;
    margin-left: 10%;
} */

.Form button {
    Padding: 0.5em;
    color: #282c34;
    font-size: large;
    font-weight: 600;
    width: 70%;
    margin-left: 15%;
    background: linear-gradient(#fcbd00, #cf9b01);
    border-radius: 5px;
}